*.sublime*
token.json
/node_modules
/daemon
__pycache__/
/.venv

/settings/config.json
/settings/token.json
/settings/database.json
/settings/log.txt
/run_on_startup/windows_run_on_startup.bat
/run_on_startup/SchwiRSS.vbs